<% 
meta description: "لیست ابیات #{t(params[:id])}" , 
     keywords: Poet.all.collect { |p| p.poet_name }
%>

<% title "#{t(params[:id])}" %>
<div class="profile-show-poems">
      <h1><%= "لیست اشعار #{t(params[:id])}" %> </h1>
</div>

<div class="span2">
  <%= render partial: "poems/poets" %>
</div>
<div class="span10">
    <%= render :partial => 'show_poem_set' , locals: { poems: @poems , param_name: 'poems' } %>
</div>
  
