<% 
meta description: "لیست ابیات ثبت شده در چکامک" , 
     keywords: Poet.all.collect { |p| p.poet_name }
%>

<% title "لیست ابیات" %>
<div class="poems_index_title">
  <h1><%= @title %> </h1>
</div>
<div class="span2">
  <%= render partial: "poems/poets" %>
</div>
<div class="span10">
    <%= render :partial => 'poems/show_poem_set' , locals: { :poems => @poems , :param_name => 'poems'}%>
    <%= render partial: "poems/new" %>
</div>
