<% 
meta description: "لیست ابیات ثبت شده در چکامک" , 
     keywords: Poet.all.collect { |p| p.poet_name }
%>

<% title "لیست ابیات" %>
<body id="poems-index">
<div class="profile-show-poems">
      <h1><%= @title %> </h1>
</div>

<%= render :partial => 'show_poem_set' %>
<br> <br>   <br> <br>
<%= render :partial => 'new' %>
</body>
