<% 
meta description: "لیست ابیات #{t(params[:id])}" , 
     keywords: Poet.all.collect { |p| p.poet_name }
%>

<% title "#{t(params[:id])}" %>
<div class="profile-show-poems">
      <h1><%= @title %> </h1>
</div>
  <div>
    <%= render :partial => 'show_poem_set' , locals: { poems: @poems , param_name: 'poems' } %>
  </div>
  
