<div class="container">
  <div class="hero-unit main-unit" align="center">
    <h1 class="text-center">امکانات</h1>
    <br>
    <p class="text-center">
    <ul class="unstyled">
      <li><h3><i class="icon-check icon-check-index"></i><%= t(:f1) %></h3></li>
      <li><h3><i class="icon-check icon-check-index"></i><%= t(:f2) %></h3></li>
      <li><h3><i class="icon-check icon-check-index"></i><%= t(:f3) %></h3></li>
    </ul>
    </p>
  </div>
</div>


