<div class="hero-unit main-unit">
<div class="row-fluid">
  <div id="2">
  <h1 ><%= t(:tt1) %> </h1>
  </div>
  <ul class="thumbnails t2">
    <li class="span4">
      <div class="thumbnail">
        <i class="icon-eye-open icon-6"></i>
      </div>
      <div class="caption">
        <h4>مرور کنید!</h4>
        <p>
          <%= t(:f1) %>
        </p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <i class="icon-thumbs-up icon-6"></i>
      </div>
      <div class="caption">
        <h4>امتیاز بدهید!</h4>
        <p>
          <%= t(:f2) %>
        </p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail">
        <i class="icon-retweet icon-6"></i>
      </div>
      <div class="caption">
        <h4>به‌اشتراک بگذارید!</h4>
        <p>
          <%= t(:f3) %>
        </p>
      </div>
    </li>
  </ul>
</div>
</div>


