<div class="title about"><h1><%= t(:about_title) %></h1></div>
<div class="row-fluid">
	<div class="span2">
		<div class="thumbnail">
			<img src="/images/p1.jpg" width="70%">
		</div>
	</div>
	<div class="span8">
		<div class="row about_name">
		<h4> <%= t(:about_name) %> </h4>
		<%= t(:about_info1) %>
		</div>
		<div class="row main_info">
		<ul>
			<li><b>فعالیت: </b>توسعه‌دهنده‌ی وب</li>
			<li><b>علاقه‌مند به:</b> <%= t(:about_info2) %></li>
			<li><b>درباره‌ی چکامک: </b>چنین سرویسی یک نیاز برای علاقه‌مندان به شعر و ادب بود. پس تصمیم گرفتم این نیاز را رفع کنم و حال نیز تصمیم دارم که چکامک را به یکی از قطب‌های ادبی و در عین حال جذاب، در وب فارسی تبدیل کنم.</li>
			<li><b>تماس با من: </b>تمایل به توسعه‌ی چکامک دارید؟ ایده‌های گوناگون دارید؟ قصد همکاری دارید؟ با من با pooya.m2009 بر روی جیمیل در تماس باشید! </li>
			</ul>
		</div>
	</div>
</div>