<body class="faq">
<div class="faq">
<p>
<b>هدف شما از این پروژه چیست؟</b>
<br>
با توجه به فقر وب فارسی در زمینه‌ی سرویس‌های ادبی و محدود بودن آن به بلاگ‌ها، وجود چنین سرویس‌ی حس می‌شد. به صورت کلی، هدف ما از این پروژه، ایجاد یک بستر مناسب جهت به اشتراک‌گذاری ابیات فارسی است تا علاقه‌مندان به شعر و ادب، بدون نیاز به جست‌وجوی کامل میان دیوان شعرا و یا جست‌وجوی عمیق میان وبلاگ‌ها، بتوانند به ابیات زیبای فارسی دست پیدا کنند.
</p>
<p>
<b>جام می چه امکاناتی دارد؟</b>
  <br>
در جام می شما می‌توانید ابیات مورد علاقه‌ی دیگران را مرور کنید و به هر کدام از ابیات که پسندیدید امتیاز دهید. می‌توانید ابیات مورد علاقه‌ی خود را به اشتراک بگذارید تا در سایت ثبت شود و وارد لیست آخرین ابیات سایت شود. می‌توانید ابیات را برحسب یک واژه جست‌وجو کنید و یا اینکه ابیات ثبت شده از یک شاعر را مرور کنید.
</p>
  <p>
  <b>آیا امکانات جام می به همین‌ها محدود است؟</b>
    <br>
جام می یک پروژه‌ی نو پا در وب فارسی‌ست و جهت افزایش و بهبود امکانات خود، نیاز به زمان دارد. قطعا امکانات جام‌ می صرفا به موارد بالا محدود نخواهد بود و در آینده شاهد امکانات بیشتری در خود سایت و همچنین برنامه‌هایی جهت بهبود فضای شعر و ادب در وب فارسی، خواهید بود.
  </p>
  <p>
  <b>چرا باید ثبت‌نام کنیم؟</b>
    <br>
جهت بهره‌مندی از کلیه‌ی امکانات سرویس جام می نظیر به اشتراک گذاشتن ابیات و یا امتیاز دادن به ابیات دیگران، شما باید در سایت ثبت‌نام نمایید. ثبت‌نام در این سرویس بسیار آسان است و وقت زیادی از شما نمی‌گیرد.
  </p>
  <p>
<b>امتیاز یک کاربر چه فایده‌ای دارد؟</b>
    <br>
امتیاز کاربران در جهت سیاست‌های تشویقی این سرویس است. به عنوان مثال، کاربرانی که بیشترین امتیاز را دارند در یک جدول و به ترتیب رتبه در سایت معرفی می‌شوند و یا اینکه محتمل است در آینده مشمول جوایز تعیین شده از سوی این پروژه شوند.
  </p>
  <p>
<b>امتیاز یک کاربر چگونه محاسبه می‌شود؟</b>
    <br>
    امتیاز یک کاربر برابر جمع امتیازات ابیاتی‌ست که آن کاربر در سایت به اشتراک گذاشته است.
  </p>
  <p>
<b>آیا یک کاربر می‌تواند به ابیات خودش امتیاز دهد؟</b>
    <br>
خیر نمی‌تواند.
  </p>
  <p>
<b>آیا تعداد ابیات قابل ثبت توسط یک کاربر نامحدود است؟</b>
    <br>
به صورت کلی بله، نامحدود است اما محدودیت روزانه وجود دارد. هر کاربر در هر روز، حداکثر می‌تواند ۳۰ بیت را به اشتراک بگذارد.
  </p>
</div>
</body>