<%= render :partial => 'user_statistics' %>
<div class="profile-show-poems">
  <h1><%= t('.title') %> </h1>
</div>


<%= render :partial => 'poems/show_poem_set' %>
</div>
<%= render :partial => 'user_upvotes' %>
</div>
<br> <br> <br>

