@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

body {
  font-family: 'Droid Arabic Naskh', serif;
  padding-top: 40px;
  overflow-x:hidden;

}
table.poems {
  white-space: pre;
}

div.new_in_index
{
      width: 50%;
margin: 0px auto 0px auto
}

div.action_new_in_index {
}

div.poems_index_title {

  height: 100%;
  width: 100%;
    margin-top: 50px;
}

div.detail {
    text-align: center;
}

p.free {
    text-align: center;
}
p.simple{
    text-align: center;
}
div.detail_first {
    margin-top: -19px;
    text-align: center;
    margin-bottom: 33px;
}
img.money{
    margin-top: 12px;
}
h2.simple {
    margin-top: -51px;
}

div.main-unit{
    background: black;
    color: white;
    margin-right:-87px;
    margin-left:-87px;
}

div.sign-up{
    background: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 12px;
}

div.form-actions2{
    height: 0px;
    margin-left: -70px;
}

div.features {
    background: black;
    color: white;
}
i.icon-check-index{
    color:red;
}
ul.nav-index{
    color:white;
}

div.sign-up-2{
    margin-top: 100px;
}

div.footer{
        background:black;
        color:white;
        text-align:center;

}

h4.header2
{
    padding: 0.3em 0; border-bottom: 0px solid; overflow: hidden; zoom: 1;
}
p.header3{
    float: left; margin: 0px; padding: 0px;
    overflow:hidden;
}

li.user-profile-poems{
 white-space: pre;
}

div.profile-show-poems{
  text-align:center;
  padding-bottom: 10px;
  padding-top: 45px;
}

dl.show-poems {
    white-space: pre;
}
div.inline{
    float:right;
    padding-right:100px;
}
div.m3 {
    padding-right:40px;
}

form.special-form{
    margin-top:300px;
}

small.inline-icon{
    padding-right:10px;
}
div.m4{
    padding-right: 40px;
    padding-bottom: 80px;
}
body#poems-index {
    overflow-x: visible;
}

div.profile_statistic {
    padding-top: 15px;
}

div.faq{
    padding: 20px;
    background:white;
    padding-right:70px;
    padding-left:70px;
    font-size:17px;
}



