@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
body {
  font-family: 'Droid Arabic Naskh', serif;
}
table.poems {
  white-space: pre;
}

div.new_in_index
{
      width: 50%;
margin: 0px auto 0px auto
}

div.action_new_in_index {
}

div.poems_index_title {
  background: black;
  color: white;
  height: 100%;
  width: 100%;
}

div.detail {
    text-align: center;
}

p.free {
    text-align: center;
}
p.simple{
    text-align: center;
}
div.detail_first {
    margin-top: -28px;
}
img.money{
    margin-top: 12px;
}
h2.simple {
    margin-top: -51px;
}
